@charset "UTF-8";
.container {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.logo {
  width: 177px;
  height: 50px;
}

.nav__list {
  display: flex;
  gap: 48px;
}
.nav__list a {
  color: #292F36;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
  cursor: pinter;
}

.nav__footer {
  margin-top: 15px;
}

.nav__list_footer {
  display: flex;
  flex-direction: column;
}
.nav__list_footer a {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%; /* 66px */
  letter-spacing: 0.22px;
}

.footer {
  margin-top: 96px;
  margin-bottom: 117px;
  display: flex;
  gap: 101px;
}
.footer__info {
  max-width: 393px;
}
.footer__descr {
  margin-top: 18px;
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.footer__social {
  margin-top: 31px;
  display: flex;
  gap: 54px;
}
.footer__social_twitter, .footer__social_linkedin {
  width: 18px;
  height: 22px;
}
.footer__pages {
  width: 125px;
}
.footer__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
}
.footer__contact {
  max-width: 258px;
}
.footer__contact_adress, .footer__contact_tel {
  margin-top: 26px;
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.footer__contact_email {
  display: block;
  margin-top: 20px;
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 0.22px;
}
.footer__contact_tel {
  display: block;
  margin-top: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Serif Display", serif;
  font-family: "Jost", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  padding-top: 53px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content {
  margin-top: 57px;
  width: 1200px;
  height: 758px;
  border-radius: 70px;
  border: none;
  background: url(../../images/header__img.png) center center/cover no-repeat;
}
.header__content_info {
  max-width: 435px;
  padding-top: 208px;
  padding-left: 52px;
}
.header__content_title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 65px;
  font-weight: 400;
  line-height: 125%;
}
.header__content_descr {
  margin-top: 18px;
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.header__content_btn {
  margin-top: 47px;
  display: flex;
  padding: 26px 0;
  justify-content: center;
  align-items: center;
  width: 220px;
  gap: 10px;
  border-radius: 18px;
  border: none;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
}
.header__content_btn::after {
  content: "⟶";
  color: #CDA274;
}

.projects {
  margin-top: 96px;
}
.projects__title {
  color: #292F36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.projects__descr {
  display: block;
  margin: 0 auto;
  color: #4D5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  margin-top: 8px;
  max-width: 737px;
}
.projects__items {
  margin-top: 93px;
  display: flex;
  flex-wrap: wrap;
  gap: 56px 104px;
}
.projects__item {
  width: 548px;
  min-height: 642px;
  display: flex;
  flex-direction: column;
}
.projects__item_img {
  width: 100%;
  height: 548px;
}
.projects__item_info {
  margin-top: 24px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects__item_title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.projects__item_subtitle {
  margin-top: 4px;
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

#img1 {
  border-radius: 0 80px 0 0;
}

#img2 {
  border-radius: 80px 0 0 0;
}

#img3 {
  border-radius: 0 0 80px 0;
}

#img4 {
  border-radius: 0 0 0 80px;
}

.counter {
  margin-top: 95px;
  min-height: 457px;
  background-color: #F4F0EC;
}
.counter__items {
  padding: 151px 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counter__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.counter__line {
  width: 1px;
  height: 130px;
  background: #CDA274;
}
.counter__number {
  color: #CDA274;
  font-family: DM Serif Display;
  font-size: 85px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1.7px;
}
.counter__descr {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.blog {
  margin-top: 96px;
}
.blog__title {
  color: #292F36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.blog__descr {
  display: block;
  margin: 0 auto;
  color: #4D5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  margin-top: 12px;
  max-width: 811px;
}

.articles {
  margin-top: 52px;
  display: flex;
  gap: 27px;
}

.article {
  position: relative;
  box-sizing: border-box;
  width: 382px;
  min-height: 521px;
  padding: 21px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  transition: all 0.8s;
}
.article__img {
  width: 340px;
  height: 289px;
  border-radius: 45px 45px 0px 0px;
}
.article__tag {
  position: absolute;
  box-sizing: border-box;
  width: 124px;
  height: 41px;
  border-radius: 8px 8px 8px 0px;
  background: #fff;
  padding: 8px;
  top: 249px;
  left: 41px;
  text-align: center;
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.article__info {
  margin-top: 21px;
}
.article__info_title {
  max-width: 305px;
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.article__info_bottom {
  margin-top: 30px;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article__info_data {
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.article__info_btn {
  width: 52px;
  height: 52px;
}
.article:hover {
  background-color: #F4F0EC;
}
.article:hover .article__info_btn circle {
  fill: #fff;
}